*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.banner-1, .banner-2, .banner-3, .banner-4{
    height: 100vh;

    position: absolute;
    left: 0%;
    top: 0;
    z-index: -1000;
}
   img{
    width: 120%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    animation: zoom-out 3s linear infinite;
    transition: all .5s ease;
}



@-webkit-keyframes zoom-out{
    100%{
        width: 100%;
    }
}
.text-box{
width: 600px;
position: absolute;
top: 500px;
left: 50px;
color:rgb(0, 140, 255);
text-transform: uppercase;
animation: textup 12s linear infinite;
/* transform: translateY(100px); */
}
.dark .text-box{
width: 600px;
position: absolute;
top: 500px;
left: 50px;
color:rgb(0, 0, 0);
text-transform: uppercase;
animation: textup 12s linear infinite;
/* transform: translateY(100px); */
}


.banner-1{
    animation: slide1 12s linear infinite;
}
.banner-2{
    animation: slide2 12s linear infinite;
}
.banner-3{
    animation: slide3 12s linear infinite;
}
.banner-4{
    animation: slide4 12s linear infinite;
}

@-webkit-keyframes slide1{
0%{
    visibility: visible;
}
25%{
    visibility: hidden;
}
50%{
    visibility: hidden;
}
75%{
    visibility: hidden;
}
100%{
    visibility: visible;
}
}
@-webkit-keyframes slide2{
0%{
    visibility: hidden;
}
25%{
    visibility: hidden;
}
50%{
    visibility: visible;
}
75%{
    visibility: hidden;
}
100%{
    visibility:hidden;
}
}
@-webkit-keyframes slide3{
0%{
    visibility: hidden;
}
25%{
    visibility: hidden;
}
50%{
    visibility: hidden;
}
75%{
    visibility:visible;
}
100%{
    visibility: hidden;
}
}
@-webkit-keyframes slide4{
0%{
    visibility: hidden;
}
25%{
    visibility: hidden;
}
50%{
    visibility: hidden;
}
75%{
    visibility:hidden;
}
100%{
    visibility: visible;
}
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;

}
.btn-logo{
     background-color: transparent;
     outline: none;
     border: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(0, 145, 255);
}
.dark .logo{
    color: white;
}
.dark .logo-1{
    color: black;
}
.logo h2{
    font-size: 6.5vmin;
    font-weight: bolder;
    margin-right: 5px;
}
.logo h5{
    font-size: 4vmin;
    margin-right: 5px;
    color: red;
}
.logo h4{
font-size: 4.5vmin;
}
.dark .header{
    background-color: black;
}

.login a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(111deg, rgba(253, 3, 3, 0) 48%, rgb(10, 10, 10) 48%);
    background-size: 220%;
    font-size: 3.3vmin;
    margin-right: 20px;
 color:rgb(0, 140, 255);
 text-decoration: none;
 transition: all .5s ease;
 padding: 10px;
 border-radius: 10px;
}
.dark .login a{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(111deg, rgba(253, 3, 3, 0) 48%, rgb(253, 252, 252) 48%);
    background-size: 220%;
}

.login .fa{
    margin-left: 10px;
  
}
.login a:hover{
background-position: 100%;
color:orangered;
}







#switch{
    visibility: hidden;
    position: absolute;
}
.switch-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;

}

.switch-label .toogle{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color:rgb(0, 140, 255);
    position: absolute;
    left: 3px;
    transition: all 0.5s ease;
    
}
.wrapper{

    /* width: 100px;
    height: 100px; */
    transition: 1s all ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#switch:checked ~ .switch-label{
    background: rgba(255, 255, 255, 0.411);
    border: none;
    transition: .5s all ease;
}
#switch:checked ~ .switch-label .toogle{
    height: 12.5px;
    border-radius: 25px 25px 0 0;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
    transform: scale(0.9) translateX(75px) rotate(90deg);
    transition: .7s all ease;
}






.form-1{

    display: flex;

 margin-top: 200px;
}    
.container-2{
margin: auto;

}
.btn-logo-2{
margin: auto;
}


.search-form input{
 background-color: white;
    padding: 15px;
    border-radius: 100px;
    width: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    border:  none;
    outline: none;
    transition: all .2s ease;
    margin-right: -20px;
    font-size: 2.5vmin;
    
}


.btn-logo-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .form-1 img{
display: flex;
align-items: center;
    margin-bottom: 20px;
} */

.dark .search-form input{
    background-color: black;
}
.dark .logo-2{
    color: black;
}

.search-form input:focus{
   width: 650px;
background-color: rgba(70, 131, 180, 0.568);
   color:black;

   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.253);
}

.dark .search-form input:focus{
    background-color:grey;
    color: white;
 
}
.search-form input::placeholder{
    color: rgb(0, 140, 255);
  font-family: sans-serif;
}
.dark  .search-form input::placeholder{
    color: white;
}

.dark .fa{
    color: white;
}
/* footer{
    position: relative;


}

footer marquee{
    position: absolute;
bottom: 0;


} */






.aside {

    width: 99.5%;
height:80%;

display: flex;
justify-content: center;
align-items: center;

}


.aside .aside-1{
 
margin-top: 30px;
  padding: 15px;
height: 100%;
    background-color: white;
    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
  
}
 .dark .aside .aside-1{
 
margin-top: 30px;
  padding: 15px;
height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
  
}

.aside .main-box{
margin: auto;


}




.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 140, 255);

}



 .body-2{
    background: rgb(0, 162, 255);
background: linear-gradient(74deg, rgb(0, 195, 255) 16%, rgb(39, 180, 250) 88%);
}

.dark .body-2{
background-color: black;
}

.table-1{
    width: 450px;
    height: 50%;
font-size: 3.5vmin;
    
}

.table-1  tr td{
background-color: white;
padding: 20px;
color:rgb(0, 140, 255);
text-align: center;

}

 .dark .table-1  tr td{
background-color: rgb(8, 8, 8);
padding: 20px;
color:white;
text-align: center;
font-family: serif; 

}

.main-box h3{
background-color: white;
    font-size: 4vmin;
color: rgb(0, 140, 255);
padding: 10px;
}
 .dark .main-box h3{
background-color: rgb(2, 2, 2);
    font-size: 4vmin;
color: rgb(246, 249, 252);
padding: 10px;
}

table .th-1{
    background-color: white;
    color:rgb(0, 140, 255);
    text-align: center;
    padding: 15px; 
    font-family: serif; 
}
.dark table .th-1{
    background-color:black;
    color:white;
    text-align: center;
    padding: 15px;  
    font-size: 2vmin;
    font-family: serif;
}


.forward{
    position: fixed;
    bottom: 0%;
    right: 0%;
    transition: all .2s ease;
}
.forward .fa{
    z-index: 1000;
    color: orangered;
    margin: 10px;

    
}
.forward .fa:hover{
color: red;
transform: scale(1.5);

    
}
 .dark .forward .fa:hover{
color: red;
transform: scale(1.5);

    
}
.dark .forward .fa{
    color: rgb(14, 13, 13);
    margin: 10px;
    
}
.backward .fa{
    z-index: 1000;
    color: orangered;
    margin: 10px;

}
 .dark .backward .fa{
    color: rgb(7, 7, 7);
    margin: 10px;
}
.backward .fa:hover{
    color: red;
    transform: scale(1.5);
    
        
    }
.dark .backward .fa:hover{
    color: red;
    transform: scale(1.5);
    
        
    }

.backward{
    position: fixed;
    bottom: 0%;
    left:  0%;
}


.body-3{

    background: rgb(0,215,255);
    background: linear-gradient(153deg, rgba(0,215,255,1) 16%, rgba(0,168,255,1) 88%);
}



.admin-form{
    width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: all .5s ease;
margin-top: 20px;

}



.admin-table input{
   padding: 10px;
   border: none;
   outline: none;
   width: 400px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;

}
 .dark .admin-table input{
   padding: 10px;
   border: none;
   outline: none;
   width: 400px;
background-color: rgb(8, 8, 8);
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
color:black;

}


.admin-table input:focus{
    background-color:rgba(255, 255, 255, 0.829);
}
.dark .admin-table input:focus{
    background-color:rgba(10, 10, 10, 0.664);
}

.admin-table a{
    color: white;
    text-decoration: none;
    display: flex;
justify-content: center;
align-items: center;
}
.dark .admin-table a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
justify-content: center;
align-items: center;
}

.admin-table a:hover{
color: orangered;
letter-spacing: 3px;
}


.admin-form h1{
    color: white;
    margin-top: 10px;
}

 .dark .admin-form h1{
    color: rgb(10, 10, 10);
    margin-top: 10px;
}


.admin-table label{
    color: white;
    text-transform: uppercase;

}

 .dark .admin-table label{
    color: rgb(7, 7, 7);
    text-transform: uppercase;

}

.admin-table input::placeholder{
    color: rgb(0, 140, 255);
}
 .dark .admin-table input::placeholder{
    color: rgb(249, 249, 250);
}


#submit{
    text-transform: uppercase;
    color: rgb(0, 140, 255);
    font-size: 2.5vmin;
    background: rgb(0,0,0);
    background: linear-gradient(111deg, rgb(247, 243, 243) 48%, rgba(15, 15, 15, 0.548) 48%);
    background-size: 220%;
    transition: all .1s ease;
}
  .dark #submit{
    text-transform: uppercase;
    color: rgb(252, 247, 247);
    font-size: 2.5vmin;
    background: rgb(0,0,0);
    background: linear-gradient(111deg, rgb(3, 3, 3) 48%, rgba(15, 15, 15, 0.548) 48%);
    background-size: 220%;
    transition: all .1s ease;
}



#submit:active{
color: orangered;
    font-size: 2.5vmin;
background-position: 100%;
}
#submit:visited{
color: red;
    font-size: 2.5vmin;
background-position: 100%;
}

#submit:hover{
color: red;
    font-size: 2.5vmin;
    background-position: 100%;
}


 






                     /* Sign-in and sign-out */


                     * {
                      margin: 0;
                     padding: 0;
                     box-sizing: border-box;
                  }
                  
                 body,
                  input {
                    font-family: 'Poppins',sans-serif;
                  }
                  
                  .container {
                    position: relative;
                    width: 100%;
                    background-color: #fff;
                        min-height: 100vh;
                    overflow: hidden;
                  }
                      
                      .container:before {
                        content: '';
                        position: absolute;
                        height: 2000px;
                        width: 2000px;
                        top: -10%;
                        right: 48%;
                        transform: translateY(-50%);
                        background-image: linear-gradient(-45deg, #008cff 0%, #00aeff 100%);
                        transition: 1.8s ease-in-out;
                        border-radius: 50%;
                        z-index: 6;
                      }
                      .dark .container:before {
                        content: '';
                        position: absolute;
                        height: 2000px;
                        width: 2000px;
                        top: -10%;
                        right: 48%;
                        transform: translateY(-50%);
                        background-image: linear-gradient(-45deg, #000000 0%, #000000 100%);
                        transition: 1.8s ease-in-out;
                        border-radius: 50%;
                        z-index: 6;
                      }
                      
                      .forms-container {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                      }
                      
                      form {
                        display: flex;
                        /*Distributes Flex-items along the Cross Axis */
                        align-items: center;
                        /*Distributes Flex-items along the Main Axis */
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 5rem;
                        /*overflow: hidden;*/
                        padding: 0rem 5rem;
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                        transition: 0.2s 0.7s ease-in-out;
                      }
                      
                      form.sign-in-form {
                        z-index: 2;
                      }
                      
                      form.sign-up-form {
                        z-index: 1;
                        opacity: 0;
                      }
                      
                      .title {
                        font-size: 2.2rem;
                        color:rgb(0, 140, 255);
                        margin-bottom: 10px;
                      }
                      .dark .title {
                        font-size: 2.2rem;
                        color:rgb(0, 0, 0);
                        margin-bottom: 10px;
                      }
                      
                      .input-field {
                        max-width: 300px;
                        width: 100%;
                      
                        height: 53px;
                        background-color: #f0f0f0;
                        margin: 3px 0;
                        border-radius: 40px;
                        display: grid;
                        grid-template-columns: 15% 85%;
                        padding: 0 0.3rem;
                        position: relative;
                      }
                     .dark .input-field {
                        max-width: 300px;
                        width: 100%;
                      
                        height: 40px;
                        background-color:rgba(0, 0, 0, 0.705);
                        margin: 3px 0;
                        border-radius: 40px;
                        display: grid;
                        grid-template-columns: 15% 85%;
                        padding: 0 0.3rem;
                        position: relative;
                      }
                      
                      .input-field i {
                        text-align: center;
                        line-height: 55px;
                        color:rgb(0, 140, 255);
                        font-size: 1.1rem;
                      }
                      
                    .dark  .input-field i {
                        text-align: center;
                        line-height: 55px;
                        color:whitesmoke;
                        font-size: 1.1rem;
                      }
                      
                      .input-field input {
                        background: none;
                        outline: none;
                        border: none;
                        line-height: 1;
             
                        font-size:2.5vmin;
                        color: black;
                      }
                      
                      .input-field input::placeholder {
                        color:black;
                        font-weight: 500;
                      }
                      
                   .dark   .input-field input::placeholder {
                        color:white;
                        font-weight: 500;
                      }
                      .input-field input:placeholder-shown{
                          color: rgb(0, 140, 255);
                      }
                      
                      .btn {
                        width: 50%;
                        height: 40px;
                        border: none;
                        outline: none;
                        border-radius: 48px;
                        cursor: pointer;
                        background-color: rgb(0, 140, 255);
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 3px 0;
                        transition: all 0.5s;
                        margin-top: 10px;
                      }
                      
                   .dark   .btn {
                        width: 100px;
                        height: 30px;
                        border: none;
                        outline: none;
                        border-radius: 48px;
                        cursor: pointer;
                        background-color: rgb(0, 0, 0);
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 3px 0;
                        transition: all 0.5s;
                      }
                      
                      .btn:hover {
                        color: red;
                        letter-spacing: 2px;

                      }
                      
                   
                      .signin-signup {
                        position: absolute;
                        top: 45%;
                        transform: translate(-50%, -50%);
                        left: 75%;
                        width: 50%;
                        display: grid;
                        grid-template-columns: 1fr;
                        z-index: 5;
                        transition: 1s 0.7s ease-in-out;
                      }
                      
                      .panels-container {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                      }
                      
                      .panel {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: space-around;
                        text-align: center;
                        z-index: 7;
                      }
                      
                      .left-panel {
                        pointer-events: all;
                        padding: 3rem 17% 2rem 12%;
                      }
                      
                      .right-panel {
                        pointer-events: none;
                        padding: 3rem 12% 2rem 17%;
                      }
                      
                      .panel .content {
                        color: #fff;
                        transition: 0.9s 0.6s ease-in-out;
                      }
                      
                      .panel h3 {
                        font-weight: 600;
                        line-height: 1;
                        font-size: 1.5rem;
                      }
                      
                      .panel p {
                        font-size: 0.95rem;
                        padding: 0.7rem 0;
                      }
                      
                      .btn.transparent {
                        margin: 0;
                        background: none;
                        border: 2px solid #fff;
                        width: 130px;
                        height: 41px;
                        font-weight: 600;
                        font-size: 0.8rem;
                      }
                      
                      .image {
                        transition: 1.1s 0.4s ease-in-out;
                        width: 100%;
                      }
                      
                      .right-panel .content,
                      .right-panel .image {
                        transform: translateX(800px);
                      }
                      
                      /* ANIMATION */
                      
                      .container.sign-up-mode::before {
                        transform: translate(100%, -50%);
                        right: 52%;
                      }
                      
                      .container.sign-up-mode .left-panel .image,
                      .container.sign-up-mode .left-panel .content {
                        transform: translateX(-800px);
                      }
                      .container.sign-up-mode .left-panel {
                        pointer-events: none;
                      }
                      .container.sign-up-mode .right-panel {
                        pointer-events: all;
                      }
                      
                      .container.sign-up-mode .right-panel .image,
                      .container.sign-up-mode .right-panel .content {
                        transform: translateX(0%);
                      }
                      
                      .container.sign-up-mode .signin-signup {
                        left: 25%;
                      }
                      
                      .container.sign-up-mode form.sign-in-form {
                        z-index: 1;
                        opacity: 0;
                      }
                      
                      .container.sign-up-mode form.sign-up-form {
                        z-index: 2;
                        opacity: 1;
                      }






@media screen and (max-width:600px){
    .form-1{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
       }    
       .container-2{
       margin: auto;
       
       }
       .search-form input{
        background-color: white;
           padding: 15px;
           border-radius: 100px;
           width: 350px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           text-transform: capitalize;
           border:  none;
           outline: none;
           transition: all .2s ease;
           margin-right: -30px;
           font-size: 2.5vmin;
           
       }
       .search-form input:focus{
        width: 400px;
     background-color: rgba(70, 131, 180, 0.568);
        color:black;
        z-index: 10000;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.178);
     }

     .aside{
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-content: center;
grid-gap: 30px;
margin-top: 50px;
     }

     
.main-box h3{
    background-color: white;
        font-size: 3.5vmin;
    color: rgb(0, 140, 255);
    padding: 10px;
margin-top: 10px;
    }
 
    
    .table-1 .th-1{
        background-color: white;
        color:rgb(0, 140, 255);
        text-align: center;
        padding: 15px; 
        font-family: serif; 
    }

    .table-1{
        width: 350;
        height: 40%;
    font-size: 3.5vmin;
        
    }

    .aside .aside-1{

            background-color: white;
            display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
          
        }

        .banner-1, .banner-2, .banner-3, .banner-4{
            height: 100vh;
        
            position: absolute;
            left: 0%;
            top: 0;
        }
         img{
            width: 120%;
            height:100%;
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: zoom-out 3s linear infinite;
            object-fit: cover;
          
        }
        @-webkit-keyframes zoom-out{
            100%{
                width: 100%;
            }
        }

.text-box h1{
    font-size: 4vmin;
    font-weight: bolder;
}



.admin-form h1{
    color: white;
    margin-top: 10px;
}

 .dark .admin-form h1{
    color: rgb(10, 10, 10);
    margin-top: 10px;
}

        
.input-field {
    max-width: 300px;
    width: 100%;
  
    height: 37px;
    background-color: #f0f0f0;
    margin: 2px 0;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.3rem;
    position: relative;
  }
 .dark .input-field {
    max-width: 300px;
    width: 100%;
  
    height: 37px;
    background-color:rgba(0, 0, 0, 0.705);
    margin: 2px 0;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.3rem;
    position: relative;
  }



.image{
width: 100%;
    transition: 1.1s .4s ease-in-out;
animation: none;
object-fit: contain;
}       

.signin-signup {
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 65%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
  }
}


.input-field{
    margin-top: 15px;
    /* margin-bottom: 15px; */

}


.danger_1{
    color: red;
    border: 2px solid red  !important;
}


